<!-- "Product Type" -->
<section class="templatemo-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-uppercase">about me</h2>
                <hr class="templatemo-section-header-hr">
                <p class="text-uppercase templatemo-section-subheader">博主信息show</p>
            </div>
        </div>
        <div class="row">
            <!-- Left block, images -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-type-container">
                            <div class="product-type-overlay">
                                <div class="product-type-info">
                                    <i class="fa fa-user fa-2x gold-text"></i>
                                    <h3 class="text-uppercase gold-text">个性签名：</h3>
                                    <p class="text-uppercase white-text">唧唧复唧唧！！！</p>
                                </div>
                            </div>
                            <img src="img/men-3.jpg" alt="Product Type 1" class="product-type-img img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right block, text -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="gold-border" >
                    <div class="product-type-message">
                        <h3 class="text-uppercase gray-text product-type-message-title"><b>My show</b></h3>
                        <p class="gray-text">网名：伤包子 | 石头</p>
                        <p class="gray-text">星座：狮子座</p>
                        <p class="gray-text">职业：程序猿一只</p>
                        <p class="gray-text">现居：杭州市余杭区塘栖镇</p>
                        <p class="gray-text">&nbsp;&nbsp;&nbsp;&nbsp;90后程序猿一枚，性格比较内向（遇到志同道合的朋友绝对会是涛涛不绝啊），本人电子信息工程专业.</p>
                        <p class="gray-text">技能自评如下：</p>
                        <p class="gray-text">&nbsp;&nbsp;1、有1年java web开发的工作经验以及半年的Node.js开发经验;</p>
                        <p class="gray-text">&nbsp;&nbsp;2、熟练掌握多门语言：Node.js、JAVA、HTML、CSS、JavaScript,并对chrome插件开发十分熟悉</p>
                        <p class="gray-text">&nbsp;&nbsp;3、有丰富的爬虫项目以及web项目的开发经验;</p>
                        <p class="gray-text">&nbsp;&nbsp;4、熟悉nodejs的Meteor和express框架，同时还掌握java的ssh框架;</p>
                        <p class="gray-text">&nbsp;&nbsp;5、熟悉Oracle以及mysql数据库的操作，同时还掌握mongodb、redis、rebbitMQ的操作;</p>
                        <p class="gray-text">&nbsp;&nbsp;6、善于使用git管理项目，同时熟悉linux下的操作;</p>
                        <p class="gray-text">&nbsp;&nbsp;7、有日语三级相当能力;</p>
                        <a href="#" class="text-uppercase gold-text"><i>结语：如果热爱，就不要放弃！！！</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end Product Type -->
