<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luxury Gold, free responsive template</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">

        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/templatemo-style.css" rel="stylesheet">

    </head>
    <body>
        <%- include('common/header') -%>

        <%- include('content/personshow') -%>

        <%- include('common/footer') -%>

        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="/js/templatemo-script.js"></script>      <!-- Templatemo Script -->

    </body>
</html>
