<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luxury Gold - Men Collections</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">

        <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.useso.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/templatemo-style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Header -->
        <div class="templatemo-container">
            <div class="templatemo-block-left">
                <div class="templatemo-header-left">
                    <div class="templatemo-header-text-wrap">
                        <div class="templatemo-header-text">
                            <h1 class="text-uppercase templatemo-site-name"><span class="gold-text"><b>Luxury</b></span> Gold</h1>
                            <hr class="templatemo-header-hr">
                            <p class="text-uppercase templatemo-slogan">Passion for Fashion</p>
                        </div>
                    </div>
                    <div class="templatemo-header-left-overlay"></div>
                    <div class="templatemo-social templatemo-gray-bg">
                        <ul>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="templatemo-block-right">
                <div class="templatemo-header-right">
                    <div class="templatemo-header-right-overlay"></div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="templatemo-nav">
                        <ul class="text-uppercase">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="men.html">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end Header -->

        <!-- "Men Collections" -->
        <section class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-uppercase">Men Collections</h2>
                    <hr class="templatemo-section-header-hr">
                    <p class="text-uppercase templatemo-section-subheader">View All Products</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="product-menu text-uppercase">
                        <li class="active"><a href="#">Shoes</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/1.jpg" alt="Men fashion 1" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 90.00</p>
                        </div>
                        <img src="img/men-page/2.jpg" alt="Men fashion 2" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/3.jpg" alt="Men fashion 3" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/4.jpg" alt="Men fashion 4" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/5.jpg" alt="Men fashion 5" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/6.jpg" alt="Men fashion 6" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/7.jpg" alt="Men fashion 7" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/8.jpg" alt="Men fashion 8" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/9.jpg" alt="Men fashion 9" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/10.jpg" alt="Men fashion 10" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/11.jpg" alt="Men fashion 11" class="product-type-img img-collection gold-border">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
                    <div class="product-type-container">
                        <div class="product-type-overlay">
                            <div class="product-type-info">
                                <i class="fa fa-search fa-2x white-text white-border"></i>
                                <h3 class="gold-text text-uppercase">lorem ipsums</h3>
                                <p class="text-uppercase white-text">Mauris Inera Justo</p>
                            </div>
                        </div>
                        <div class="price-tag">
                            <p>$ 72.00</p>
                        </div>
                        <img src="img/men-page/12.jpg" alt="Men fashion 12" class="product-type-img img-collection gold-border">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-play"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> <!-- end "Men Collections" -->

        <!-- "About Us" -->
        <section class="templatemo-dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase gold-text">About us</h2>
                        <hr class="templatemo-about-hr">
                        <p class="templatemo-about-subtitle">View More Details</p>
                        <hr class="templatemo-about-hr">
                        <p class="gray-text about-us-text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
        </section> <!-- end "About Us" -->

        <footer class="text-center">
            <p class="text-uppercase">
            	Copyright &copy; 2084 Company Name
            	| More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </p>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="/js/templatemo-script.js"></script>      <!-- Templatemo Script -->

    </body>
</html>
