<article class="templatemo-blog-post">
    <div class="post-img-container">
        <img src="" alt="Post 1" class="post-img img-responsive" style="width: 700px;height: 353px;">
        <div class="templatemo-post-social">
            <div class="flex-center margin-top-10">
                <i class="fa fa-heart fa-2x red-bg"></i>
            </div>
            <div class="flex-center margin-top-10">
                <i class="fa fa-comments-o fa-2x gold-bg"></i>
            </div>
        </div>
        <div class="templatemo-post-date gold-text">
            <div>
                <div class="text-center date">20</div>
                <div class="text-center">一月</div>
            </div>
        </div>
    </div>
    <div class="post-title">
        <h3 class="text-uppercase">Aenean Sollicitudin Auctor</h3>
    </div>
    <div class="post-meta-data">
        <p class="gold-text"><i>Posted by Admin Dev / Web Design / Comments: 116 / Views: 6,359</i></p>
    </div>
    <div class="post-excerpt gray-text">
        <p>Aenean non ex neque. Sed vitae purus in urna volutpat iaculis. Ut congue vel tortor in tincidunt. Maecenas varius pellentesque odio sed facilisis. In ullamcorper augue quis nunc pellentesque faucibus. Proin interdum finibus enim, vel ultrices ipsum vulputate vel.</p>
    </div>
    <a href="#" class="gray-text margin-top-10 post-read-more">
        <i class="fa fa-arrow-circle-o-right fa-2x v-align-middle"></i> Read More
    </a>
    <hr>
</article>
