<aside class="col-lg-4 col-md-4 templatemo-blog-post-aside">
    <div class="aside-block">
        <h4 class="text-uppercase"><i>点击排行榜</i></h4>
        <hr class="gold-hr">
        <ul class="category-list">
            <li>
                <div class="list-item top-three">1</div><a href="#">爱美食(生活)</a>
            </li>
            <li><div class="list-item top-three">2</div><a href="#">爱旅行(生活)</a></li>
            <li><div class="list-item top-three">3</div><a href="#">爱活动(生活)</a></li>
            <li><div class="list-item">4</div><a href="#">玩WEB(技术)</a></li>
            <li><div class="list-item">5</div><a href="#">玩WEB(技术)</a></li>
        </ul>
    </div>
    <div class="aside-block">
        <h4 class="text-uppercase"><i>最新分享</i></h4>
        <hr class="gold-hr">
        <article class="aside-post-excerpt">
            <h5 class="text-uppercase">爬虫小技巧(理论篇)</h5>
            <p class="gold-text"><i>22016-01-01</i></p>
            <p class="introduction gray-text">嘿嘿。 第一次听说网络爬虫时，感觉好高端好牛逼，很有极客范。正式接触后感觉很好玩，如果有个人站，可以通过爬虫去实现自动化获取资讯来发表到个人站上。。。</p>
            <p style="text-align:right;"><a href="#" class="gray-text">
                <i class="fa fa-arrow-circle-o-right fa-1x v-align-middle"></i> Read More
            </a></p>
        </article>
        <hr class="tab-hr">
        <article class="aside-post-excerpt">
            <h5 class="text-uppercase">TEST</h5>
            <p class="gold-text"><i>2016-01-01</i></p>
            <p class="introduction gray-text">1231231dqweasdaloisjiodjangohajiowejioqjwoeijwcon.</p>
            <p style="text-align:right;"><a href="#" class="gray-text">
                <i class="fa fa-arrow-circle-o-right fa-1x v-align-middle"></i> Read More
            </a></p>
        </article>

    </div> <!-- /.aside-block -->
    <div class="aside-block">
        <h4 class="text-uppercase"><i>标签</i></h4>
        <hr class="gold-hr">
        <ul class="tag-list">
            <li><a href="#">爬虫(1)</a></li>
            <li><a href="#">Node.js(2)</a></li>
            <li><a href="#">JAVA(0)</a></li>
            <li><a href="#">Linux(0)</a></li>
            <li><a href="#">网络(0)</a></li>
        </ul>
    </div> <!-- /.aside-block -->
</aside>
