<article class="templatemo-blog-post">
    <div class="post-img-container">
        <img src="" alt="Post 1" class="post-img img-responsive" style="width: 700px;height: 353px;">
        <div class="templatemo-post-social">
            <div class="flex-center margin-top-10">
                <i class="fa fa-heart fa-2x red-bg"></i>
            </div>
            <div class="flex-center margin-top-10">
                <i class="fa fa-comments-o fa-2x gold-bg"></i>
            </div>
        </div>
        <div class="templatemo-post-date gold-text">
            <div>
                <div class="text-center date">20</div>
                <div class="text-center">一月</div>
            </div>
        </div>
    </div>
    <div class="post-title">
        <h3 class="text-uppercase">标题</h3>
    </div>
    <div class="post-meta-data">
        <p class="gold-text">Posted by Admin Dev / Web Design / Comments: 116 / Views: 6,359</p>
    </div>
    <div class="post-excerpt gray-text">
        <p>嘿嘿。 第一次听说网络爬虫时，感觉好高端好牛逼，很有极客范。正式接触后感觉很好玩，如果有个人站，可以通过爬虫去实现自动化获取资讯来发表到个人站上...</p>
    </div>
    <a href="/blog/123456" class="gray-text margin-top-10 post-read-more">
        <i class="fa fa-arrow-circle-o-right fa-2x v-align-middle"></i> Read More
    </a>
    <hr>
</article>
