<!-- "About Us" -->
<section class="templatemo-dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase gold-text">About Me</h2>
                <hr class="templatemo-about-hr">
                <p class="templatemo-about-subtitle">More Detail</p>
                <hr class="templatemo-about-hr">
                <div class="templatemo-social">
                    <a href="#"><i class="fa fa-github-alt"></i></a>
                    &nbsp;&nbsp;
                    <a href="#"><i class="fa fa-comments"></i></a>
                </div>
                <p class="gray-text about-us-text">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试.</p>
            </div>
        </div>
    </div>
</section> <!-- end "About Us" -->

<footer class="text-center">
    <p>
        Copyright &copy; 2016 本大侠
    </p>
</footer>
