<!-- Header -->
<div class="templatemo-container">
    <div class="templatemo-block-left">
        <div class="templatemo-header-left">
            <div class="templatemo-header-text-wrap">
                <div class="templatemo-header-text">
                    <h1 class="text-uppercase templatemo-site-name" style="font-family:'Patua One',cursive;"><span class="gold-text"><b>石头记</b></span> BLOG</h1>
                    <div id="parson-note" style="float:right;">
                        &nbsp;&nbsp;&nbsp;
                        <hr class="templatemo-header-hr">
                        <p class="text-uppercase templatemo-slogan"> 爱生活，爱编程！！！</p>
                    </div>
                </div>
            </div>
            <div class="templatemo-header-left-overlay"></div>
        </div>
    </div>
    <div class="templatemo-block-right">
        <div class="templatemo-header-right">
            <div class="templatemo-header-right-overlay"></div>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-nav">
                <ul class="text-uppercase">
                    <li><a href="/blog"><i class="fa fa-home"></i>&nbsp;首页</a></li>
                    <li><a href="/aboutme"><i class="fa fa-user"></i>&nbsp;关于我</a></li>
                    <!--<li><a href="/blog"><i class="fa fa-laptop"></i>&nbsp;技术分享</a></li>
                    <li><a href="/blog"><i class="fa fa-coffee"></i>&nbsp;生活分享</a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- end Header -->
