<div class="pagination-wrap">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
            </a>
        </li>
        <% if (pageList && Object.prototype.toString.call(pageList) == "[object Array]" && pageList.length > 0) {
            for (var i=0; i < pageList.length; i++) { %>
            <li class="active"><a href="#">1</a></li>
        <% } } %>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
            </a>
        </li>
    </ul>
</div>
